.project{
    color:var(--text-light-2);
    font-size: max(18px, 0.82vw);
    border-radius: 10px;
    border: 2px solid var(--text-light);
    min-height:200px;
    text-align:center;
    padding: 10px;
    padding-bottom: 60px;
    position:sticky;
    overflow:clip;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor:default;
}

.project .subsection-head{
    margin-bottom: 10px;
}

.project .desc{
    width: 60%;
}

.project-svg-icon{
    stroke: var(--text-light-2);
    background:transparent;
    padding:4px;

    height:max(34px, 1.8vw);
    width:max(34px, 1.8vw);
}

.project-github-button{
    position: absolute;
    left: 15px;
    bottom: 15px;
    transition: background-color 0.1s linear;
    cursor: pointer;
    padding:4px;
}

.project .background-cover{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: var(--bg-main);
    opacity:0.8;
    z-index: -1;
    transition: opacity 0.1s ease-out;
}

.project:hover .background-cover{
    opacity:0.7;
}

.project .bg{
    position: absolute;
    left:0;
    top:0;
    width:140%; /*Should be 100%; Firefox displays picture-in-picture prompt*/
    height:100%;
    object-fit:cover;
    object-position: center;
    z-index: -2;
    transition: scale 0.1s ease-out;
}

.project:hover .bg{
    scale: 1.02;
}
