@font-face {
    font-family: Perfect-Dos;
    src: url("Perfect\ DOS\ VGA\ 437\ Win.ttf");
}
@font-face {
    font-family: Kitty-M;
    src: url("PerfectDOSKittyM.ttf");
}

/*

#ffd319 - gold
#ff901f - orange
#ff2975 - pink magenta
#f222ff - pink
#8c1eff - light purple
#130e17 - black purple

*/

body{
    --bg-main: #130e17ff;
    --text-dim: #8e7d8f;
    --text-med: #9d2aa5;
    --text-light: #ff2975;
    --text-light-2: #ffd319;

    --sun-light: #ffd319;
    --sun-dark: #f222ff;

    --sky-top: var(--bg-main);
    --sky-mid: #001534;
    --sky-bottom: #e3004f;
    --content-border: #9d2aa580;
    @media (prefers-color-scheme: light) {
        --bg-main: #fff;
        --text-dim: #8e7d8f;
        --text-med: #ff8080;
        --text-light: #ff6060;
        --text-light-2: #ffd319;

        --sun-light: #ffd319;
        --sun-dark: #f222ff;

        --sky-top: var(--bg-main);
        --sky-mid: #d6daff;
        --sky-bottom: #001473;

        --content-border: #ff4b4b80;
    }
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-main);
    font-family: Perfect-Dos;

    margin: 0px;
    padding:30px;

    gap: 20px;
    transition: --bg-main 2s;
}

.name-bg{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:300px;
    overflow:hidden;
    border-bottom: 1px solid var(--bg-main); /* Only way to fix the annoying 1px gap */
    z-index: -1;
}

.mountains-svg{

    background: linear-gradient(var(--sky-top), var(--sky-mid), var(--sky-bottom));
    background-size: 100% 300px;
    background-color: var(--sky-top);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: 2s ease-out mountains-background-slide;
}

.mountain-line{
    fill:var(--bg-main);
}

.mountain-glow{
    fill: transparent;
    stroke:var(--bg-main);
    stroke-width: 5px;
    filter:blur(2px);
}

.mountains-svg.loaded{
    animation: none;
}

.main-container{
    justify-content: center;
    display:flex;
    flex-direction: row;
    width:100%;
}

.name-head{
    font-family: Kitty-M;
    --name-height: clamp(160px, 7.4vw, 285px);
    height:calc(var(--name-height) + 20px);
    text-align: center;
    font-size: var(--name-height);
    color:transparent;
    filter: drop-shadow(0 10px 2px var(--bg-main));
    --name-top: #ffd319;
    --name-mid: var(--text-light);
    --name-bottom: #130e1760;
    @media (prefers-color-scheme: light) {
        filter:none;
        --name-top: #ff17a6;
        --name-mid: #ff5874;
        --name-bottom: #e7e8f060;
    }
    background: linear-gradient(var(--name-top) 12.5%, var(--name-mid), var(--name-bottom) 37.5%, #0000 100%);
    /*background-color: var(--bg-main);*/
    background-size: 100% calc(var(--name-height) * 4.5);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-origin: border-box;
    transform: translateY(calc(-0.6 * var(--name-height) + 120px));

    background-position-y: calc(var(--name-height) * -0.25);

    animation: 2s linear title-background-slide;

    margin-bottom: 48px;
    margin-top: 32px;

    overflow: hidden;
}

.name-foot{
    font-size: max(80px, 3.7vw);
    text-align: center;
    color:var(--text-light);
}

.subtext{
    text-align: center;
    color:var(--text-med);
    font-size: max(32px, 1.5vw);
}

.social-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9vw;
    height: max(5vw, 96px);
    overflow:hidden;
}

.social-buttons .social-button{
    border: 2px solid var(--text-light);
    stroke: var(--text-light);
    background:transparent;
    transition: background-color 0.1s linear;
    border-radius:6px;
    cursor: pointer;
    position: sticky;
    padding:4px;

    height:max(34px, 1.8vw);
    width:max(34px, 1.8vw);
}

.social-buttons .social-button:hover{
    background: #ff4d8b3d;
}

.social-buttons .social-button .social-popup{
    border: 2px solid var(--text-light);
    border-radius: 6px;
    background: transparent;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: max(80px, 3.7vw);
    min-height: max(40px, 1.35vw);
    transition: 0.25s;
    padding: 12px;
    font-size: max(24px, 1.1vw);
    font-family: Perfect-Dos;
    color:var(--text-light);
    text-align: center;
}

.social-buttons .social-button .social-popup a{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.social-buttons .social-button .social-popup a:active{
    filter: brightness(50%);
}

.social-buttons .social-button .social-popup::before{
    background-color: var(--bg-main);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.8;
    content: "";
    z-index:-1;
}

.social-buttons .social-button:not(.popup-revealed) .social-popup{
    opacity: 0;
    pointer-events: none;
}

.social-buttons .social-button.popup-revealed:hover{
    background:transparent;
    cursor: auto;
}

.main-content{
    width:calc(100% - 280px);
    min-width: 380px;
}

.section-head{
    color: var(--text-light);
    font-size: max(56px, 2.5vw);
    text-align: center;
    padding: 20px;
}

.content-text{
    border: 2px dashed var(--content-border);
    padding:24px;
    border-radius:24px;
    color: var(--text-med);
    font-size: max(24px, 1.1vw);
}

.main-content > .revealed{
    animation: 0.5s linear text-slidein;
    opacity:1;
}

.main-content > .revealed.instant-reveal{
    animation: none;
    opacity:1;
}

.main-content > :not(.revealed){
    opacity:0;
}

.sidebar-left{
    width:min(100%, 140px);
}

.side-nav-menu:not(.revealed){
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20px);
}

@media screen and (max-width: 630px) {
    .side-nav-menu {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}

.side-nav-menu{
    position: fixed;
    bottom:0px;
    left:0px;
    width:100px;
    top:0px;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 0.25s linear, transform 0.25s linear;

}

.side-nav-menu > .nav-item{

    --gap-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:sticky;
    flex-grow: 1;
}

.side-nav-menu > .nav-item > a{
    color: var(--text-dim);
    font-size: 18px;

    text-decoration: none;
    transition: all 0.1s linear;
}

.side-nav-menu > .nav-item.current-section > a{
    color: var(--text-light);
    font-weight: bold;
    font-size: 22px;
}

.side-nav-menu > .nav-item> .nav-subitems{
	color: var(--text-dim);
	font-size: 18px;
	text-transform:lowercase;
	position:absolute;
	bottom:0px;
	transform:translateY(50%);
	left: 20px;
	transition: 0.25s;
	height:calc((100% - var(--gap-size)) * 0.8);
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.side-nav-menu > .nav-item > .nav-subitems > .nav-subitem{
	display:flex;
	flex-direction:column;
	justify-content:center;
	flex-grow:1;
}

.side-nav-menu > .nav-item:not(.current-section) > .nav-subitems{
	opacity:0;
	transform: translateY(50%) translate(-4px, -16px);
}

.side-nav-menu > .nav-item.current-section + .nav-item::before{
    width:4px;
    translate: -1px;
}

.side-nav-menu > .nav-item + .nav-item::before{
    position: absolute;
    width:2px;
    top: calc(-50%);
    transform: translate(10px, calc(var(--gap-size) / 2));
    height:calc(100% - var(--gap-size));
    background:var(--text-dim);
    content:"";
    transition: 0.25s;

}

.sidebar-right{
    width:min(100%, 140px);
}

@keyframes text-slidein {
    from{
        transform: translate(0, -15px);
        opacity:0;
    }
}

@keyframes title-background-slide {
    from{
        background-position-y:50%;
    }
}

@keyframes mountains-background-slide {
    from{
        background-position-y:200px;
    }
}
